.past-events {
  background-image: url("../assets/0001.png");
  height: 15vh auto;
  width: 100%;
  padding: 10px;
  text-align: center;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: antiquewhite;
}

.events-year {
border: 2px solid whitesmoke;
padding: 10px;
background-color: antiquewhite;
width: 120px;
}

.events-year p {
  color: #2d8058;
  font-style: italic;
}

hr {
width: 100%;
  margin:10px;
}