.shop {
  background-color: #2d8058;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
  color: antiquewhite;
}
.sub-title {
  background-color: #e9eaca;
  padding: 10px;
}

.shop-p p {
  color:#e9eaca;
  font-size: 40px;
  font-family: ' Arial';
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 20px;
  font-style: italic;
  text-align: center;
}

.shop-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 20px;
  row-gap: 70px;
  column-gap: 8px;
  
}

.shop-container .shop-img {
  background-color: #e9eaca39;
  height: 300px;
  border:  none;
  position: relative;
}

.more-link {
  margin-right: 30px;
text-align: end;
padding-top: 80px;

}

.more-link p {
 text-decoration: none;
color: antiquewhite;
 font-size: large;
  font-style: italic;
 font-weight: bold;
}

.shop-img img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.shops-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  padding: 15px;
  height: 60px;
  margin-top: -5px;
}

.shop-insta a img {
  width: 30px;
}

.shop-img p {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  padding: 15px;
  height: 90px;
  margin-top: -5px;
}

@media (max-width: 800px) {
  .shop-container  {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .shop-container {
    grid-template-columns: 1fr;
  }
}