footer {
  height: 25vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}

h5 {
color: rgba(0, 0, 0, 0.557);
text-align: center;
line-height: 25px;
}

.socials {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.socials img {
  width: 30px;
}

hr {
  width: 80vw;
  color: black;
}

.content-design {
  padding: 10px;
}

@media (max-width: 390px) {
  h5 {
    font-size: 0.6rem;
    line-height: 15px;
  }
}